doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h1 BeerWeb
      p We Know Beer
    block content
    div(class='footer')
      p Copyright 1989-2019 by Morten Olsen. All Rights Reserved.
      p This website was made using IntelliJ IDEA 2019.2.3 (Ultimate Edition).
