* {
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #00B7FF;
}

/**********************************************************************************/
/* Header */
/**********************************************************************************/

.header {
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle, #f28e1c 0%, #FFC281 100%);
    color: white;
}

.header h1 {
    font-size: 2.5em;
    margin: 15px;
}

.header p {
    font-size: 1.5em;
    margin: 10px;
}

/**********************************************************************************/
/* Navbar */
/**********************************************************************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
    /*position: -webkit-sticky; !* Safari *!*/
    /*position: sticky;*/
    top: 0;

    display: flex;
    flex-wrap: wrap;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: dimgray;
}

.active {
    background-color: dimgray;
}

/**********************************************************************************/
/* Content */
/**********************************************************************************/

.content {
    margin: 20px;
    flex: 1;
}

/**********************************************************************************/
/* Table */
/**********************************************************************************/

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #f28e1c;
    color: white;
}

/**********************************************************************************/
/* Image grid */
/**********************************************************************************/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

/**********************************************************************************/
/* Footer */
/**********************************************************************************/

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;

    margin-top: 20px;
}

.footer p {
    margin: 10px;
}
